[Unit]
Description=Run IPV6_FRAG_ESCAPE tracker update twice daily

[Timer]
OnCalendar=*-*-* 05,17:35:00
Persistent=true
RandomizedDelaySec=2m

[Install]
WantedBy=timers.target
